* { /* To reset the default values */
  margin: 0;
  padding:0;
  box-sizing: border-box; /* To keep the box size - independent of padding */
}

/* Main Styling - to style core elements (anything that doesn't have a class or id) */
html,body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

a {
  color: #333;
  text-decoration: none;
}

h1, h2, h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}

/* Utility Classes - For multiple use (but not necessarily) */
.container {  /* It contains the logo and the nav. menu */
  margin: auto; /* To have the same margin on the left and right (to kind of center the container) */
  max-width: 1100px;  /* max- to have it resonsive */
  overflow: auto; /* overflow = when content does not fit in the parent element box (e.g. a p which is inside a box but the content is bigger than the box can contain) auto = shows scrollbar when the content overflows (only then) */
  padding: 0 20px;  /* To set a padding to the left and right */
}

.text-primary { /* To set keywords (like Enjoy) to a different color */
  color: #f7c08a;
}

.lead { /* To increase the font size of the text below the headline in the showcase */
  font-size: 20px;
}

.btn {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background: #333;
  padding: 13px 20px;
  border: none; /* To have no border on any browser */
  cursor: pointer;  /* To have this hand symbol instead of the mouse pointer when hover over the button */
}

.btn:hover {
  background: #f7c08a;
  color: #333;
}

.btn-light {
  background: #f4f4f4;
  color: #333;
}

.bg-dark {  /* To set the background (bg) to a dark color */
  background: #333;
  color: #fff;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}

.bg-primary {
  background: #f7c08a;
  color: #333;
}

.clr {    /* To stop float */
  clear: both;
}

.l-heading {  /* Large Heading */
  padding-top: 10px;
  font-size: 40px;
  line-height: 1.2; /* Unitless values: use this number multiplied by the element's font size */
}

/* Padding */
.py-1 { padding: 10px 0; }  /* py stands for padding on the y-axis (top and bottom) */
.py-2 { padding: 20px 0; }
.py-3 { padding: 30px 0; }

/* Navbar */
#navbar {
  background: #333;
  color: #fff;
  overflow: auto; /* overflow = when content does not fit in the parent element box (e.g. a p which is inside a box but the content is bigger than the box can contain) auto = shows scrollbar when the content overflows (only then) */
}

#navbar a {
  color: #fff;
}

#navbar .logo {  /* This is the 'logo' - h1 with HBT */
  float: left;  /* To bring the logo (without using flex) to the left side of the navbar */
  padding-top: 20px;
}

#navbar ul {  /* navigation menu (Home - About - Contact) */
  list-style: none; /* To get rid of the underlines */
  float: right; /* To bring the nav. menu (without using flex) to the right side of the navbar */
}

#navbar ul li { /* Home - About - Contact */
  float: left;  /* To bring the li's next to each other in this order: Home - About - Contact (with right it would be: Contact - About - Home) */
}

#navbar ul li a {
  display: block; /* To be able to add padding */
  padding: 20px;
  text-align: center;
}

#navbar ul li a:hover,  /* To have a different style when hover over the links */ 
#navbar ul li a.current { /* To have also the effect (permanently) for the side we're (Home - About - Contact) - (The class would be added to the currently visited page (for the time it lasts) - since there is no JS file it's hardcoded in each html file) */
  background: #444;
  color: #f7c08a;
}

/* Showcase - The main part of the website (<header> (without navbar))*/
#showcase {
  background: url('../img/showcase.jpg') no-repeat center center/cover; /* To import the background image - center center to have it centered - cover to cover the whole screen width */
  height: 600px;
}

#showcase .showcase-content { /* To set everything that is in the showcase 'container' */
  color: #fff;  /* To set the color of the whole text inside (h1 and p - a has its own color) */
  text-align: center;
  padding-top: 170px;
}

#showcase .showcase-content h1 {
  font-size: 60px;
  line-height: 1.2em;
}

#showcase .showcase-content p {
  padding-bottom: 20px;
  line-height: 1.7em;
}

/* Home Info - The part below the showcase (<section>) */
#home-info {
  height: 450px;  /* To set the height of this sectiom */
}

#home-info .info-img {  /* The left half of the home-info section */
  float: left;  /* To have the image on the left of this section */
  width: 50%; /* It takes up 50 % */
  background: url('../img/photo-1.jpg') no-repeat;
  min-height: 100%; /* That the image takes up the whole space */
}

#home-info .info-content {  /* The right half of the home-info section */
  float: right; /* To have the image on the right of this section */
  width: 50%; /* It takes up 50 % */
  height: 100%;
  text-align: center;
  padding: 50px 30px;
  overflow: hidden; /* If the text overflows the size of the area the overflowed text is hidden (without a scrollbar) */
}

#home-info .info-content p {
  padding-bottom: 30px;
}

/* Features - The part with the three boxes (Great Location - Free Meals - Fitness Room) */
.box {
  float: left;  /* To align the three boxes horizontally */
  width: 33.3%; /* Tohave all three boxes the same width */
  padding: 50px;  /* This is not added to the box size (33.3) coz of box-sizing: border-box; */
  text-align:center;
}

.box i {  /* Refers to the icons */
  margin-bottom: 10px;
}

/* About Info */
#about-info .info-right {
  float: right; /* To have the image n the right side */
  width: 50%; /* To take 50 % of the container */
  min-height: 100%; /* That the image takes up the whole space */
}

#about-info .info-right img {
  display: block; /* This styles the inline-level elements (img) to block style - the img can now be set into the middle by using margin: auto which is not gonna work with inline elements */
  margin: auto;
  width: 70%; /* To take 70 % of the image */
  border-radius: 50%; /* To make it a circular image */
}

#about-info .info-left {
  float: left;
  width: 50%;
  min-height: 100%; /* That the content takes up the whole space */
}

/* Testimonials */
#testimonials { /* The testimonial / review <section> */
  /* height: 600px; */
  height: 100%;
  background: url('../img/test-bg.jpg') no-repeat center center/cover;
  padding-top: 100px;
}

#testimonials h2 {
  color: #fff;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 40px;
}

#testimonials .testimonial {  /* The testimonial / reviews div */
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 5px; /* To have rounded corners */
  opacity: 0.9; /* To have the reviews a bit transparent */
}

#testimonials .testimonial img {  /* The testimonial / reviews images */
  width: 100px;
  float: left;  /* To have the image on the left side */
  margin-right: 20px; /* To push the text over */
  border-radius: 50%; /* To have circular images */
}

/* Contact Form */
#contact-form .form-group { /* #contact-form is for the <section> - .form-group includes the labels and inputs */
  margin-bottom: 20px;
}

#contact-form label {
  display: block;
  margin-bottom: 5px;
}

#contact-form input, 
#contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px #ddd solid;
}

#contact-form textarea {
  height: 200px;
}

#contact-form input:focus,  /* :focus is a pseudo selector which gives the input field / textarea a blue frame when clicked in it (kind of an active status) */ 
#contact-form textarea:focus {
  outline: none;  /* To get rid of the outlines when clicked in */
  border-color: #f7c08a;  /* To change the border-color when clicked in */
}

/* Footer */
#main-footer {
  text-align: center;
  background: #444;
  color: #fff;
  padding: 20px;
}